/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.pic {
  border-radius: 8px;
  height: 40%;
  left: 0;
  top: 0;
  width: 40%;
}


.container {
  /* width: auto; */
  /* max-width: 680px; */
  padding: 0 15px;

  width: 70%;
  margin: 0 auto;
}

.navigation-wrap {
  margin-top: 30px;
  margin-bottom: 0px;
  border-radius: 0;
  /* background: black; */
}

.container-fluid {
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);

}

.container .text-muted {
  margin: 20px 0;
}

.cl {
  clear: left;
}

.navigation-wrap-dropdown {
  border-radius: 0;
  /* background: #DDDDDD; */
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}

.navigation-wrap-dropdown-2 {
  border-radius: 0;
  background: grey;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}

li {
  padding: 5px
}

.modal {
  overflow: auto;
  color: #333;
}

.intro-video {
    border: 2px solid white;
    box-shadow: 3px 3px 2px #888888;
}
